<p id="notice"><%= notice %></p>

<% if @user.avatar.try(:url) %>
  <%= image_tag @user.avatar.url, style: "width: 50px; height: 50px;" %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
